<link rel="stylesheet" href="app/style/titles.css" />

<section>
    <div class="container details">
        <div class="pt-4 pb-1 mb-3">
            <h2 data-bind="text:displayName"></h2>
            <h1 data-bind="text: name()"></h1>
            <div data-bind="with: type">
                <h4 class="d-inline-block">
                    <span data-bind="text: Name"></span> - <span data-bind="text: $parent.releaseYear"></span>
                </h4>
            </div>
        </div>
        <hr class="border-bottom-muted" />
        <!-- ko if:name().length > 0 -->

        <h6>Description</h6>
        <p data-bind="text: description()"></p>

        <hr class="border-bottom-muted" />

        <h6>Actors</h6>
        <div data-bind="foreach: actors">
            <div>
                <a data-bind="attr: { href: '#ActorDetails/'+Id }">
                    <i class="mr-1 fa fa-user-o"></i>
                    <span data-bind="text: Name"></span>
                </a>
            </div>
        </div>

        <hr class="border-bottom-muted" />

        <h6>Directors</h6>
        <div data-bind="foreach: directors">
            <div>
                <a data-bind="attr: { href: '#DirectorDetails/'+Id }">
                    <i class="mr-1 fa fa-user-o"></i>
                    <span data-bind="text: Name"></span>
                </a>
            </div>
        </div>

        <hr class="border-bottom-muted" />

        <h6>Categories</h6>
        <div data-bind="foreach: categories">
            <div>
                <a data-bind="attr: { href: '#CategoryDetails/'+Id }">
                    <i class="mr-1 fa fa-bookmark-o"></i>
                    <span data-bind="text: Name"></span>
                </a>
            </div>
        </div>

        <hr class="border-bottom-muted" />

        <h6>Countries</h6>
        <div data-bind="foreach: countries">
            <div>
                <a data-bind="attr: { href: '#CountryDetails/'+Id }">
                    <i class="mr-1 fa fa-flag-o"></i>
                    <span data-bind="text: Name"></span>
                </a>
            </div>
        </div>

        <hr class="border-bottom-muted" />

        <h6>Added on</h6>
        <span data-bind="text: getDateAdded()"></span>

        <hr class="border-bottom-muted" />

        <h6>Duration</h6>
        <span data-bind="text: duration"></span>

        <hr class="border-bottom-muted" />

        <h6>Rating</h6>
        <span data-bind="text: rating().Code"></span>

        <!-- /ko -->
    </div>
</section>