<link rel="stylesheet" href="app/style/titles.css" />

<section>
    <div class="container details">
        <div class="pt-4 pb-1 mb-3">
            <h2 data-bind="text:displayName"></h2>
            <h1 data-bind="text: name()"></h1>
        </div>
        <!-- ko if:name().length > 0 -->

        <img class="detailsPoster" data-bind="attr: { 'id': getTMDbSlug(name()) }" />

        <hr class="border-bottom-muted" />

        <h6>Titles</h6>
        <table class="table text-light">
            <thead class="thead">
                <tr>
                    <!--<th scope="col">Poster</th>-->
                    <th scope="col">Title</th>
                    <th class="d-none d-lg-block" scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col" class="text-right"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: records">
                <tr class="t-row">
                    <!--<td class="imgTd">
                    <img class="imagePoster img-modal" data-bind="attr: { src: $parent.getPoster(Name), 'id': $parent.getIMDbSlug(Name) }, event: { click: $parent.enlargeImage(Name) }" />
                </td>-->
                    <td scope="row" class="">
                        <h4 data-bind="text: Name"></h4>
                        <span data-bind="text: ReleaseYear"></span>
                    </td>
                    <td class="d-none d-md-block" data-bind="text:Description" id="desc"></td>
                    <td data-bind="text:TypeName"></td>
                    <td class="text-right text-white">
                        <!--<a class="btn  btn-sm" data-bind="attr: { href:'#TitleDetails/'+Id }">
                        <i class="fa fa-eye" title="Selecione para ver detalhes"></i>
                    </a>
                    <button class="btn btn-sm">
                        <i class="fa fa-heart-o" data-bind="attr : { 'id': 'favourite_'+Id }" title="Selecione para adicionar aos favoritos"></i>
                    </button>-->
                        <a data-bind="attr: { href:'#TitleDetails/'+Id }" class="btn btn-link">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- ko ifnot:records().length > 0 -->
        <span>No title was found</span>
        <!-- /ko -->
        <hr class="border-bottom-muted" />

        <!-- /ko -->
    </div>
</section>