<section>
    <div class="container">
        <div class="py-2 mb-3">
            <h2 data-bind="text:displayName "></h2>
            <h3 data-bind="text:'Nome:'+ '  '+name()"></h3>
            <h3 data-bind="text:'Id:'+ '  '+id()"></h3>
        </div>
        <!-- ko if:name().length > 0 -->
        <table class="table table-striped table-sm small">
            <tr class="row">
                <th class="col-md-2">Actors</th>
                <td class="col-md-10">
                    <div data-bind="foreach: actors">
                        <div><i class=" fa fa-user-o"></i> <a data-bind="text: Name + '', attr: { href: '#actorDetails'+Id }"></a> (<span data-bind="text: Id"></span>)</div>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Categories</th>
                <td class="col-md-10">
                    <div data-bind="foreach: categories">
                        <div><i class=" fa fa-bookmark-o"></i> <a data-bind="text: Name + '', attr: { href: '#CategoriesDetails/'+ Id }"></a> (<span data-bind="text: Id"></span>)</div>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Countries</th>
                <td class="col-md-10">
                    <div data-bind="foreach: countries">
                        <div><i class=" fa fa-flag-o"></i> <a data-bind="text: Name + '', attr: { href: './countryDetails?id=' + Id }"></a> (<span data-bind="text: Id"></span>)</div>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Date Added</th>
                <td class="col-md-10" data-bind="text: dateAdded"></td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Description</th>
                <td class="col-md-10" data-bind="text: description"></td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Directors</th>
                <td class="col-md-10">
                    <div data-bind="foreach: directors">
                        <div><i class=" fa fa-user-o"></i> <a data-bind="text: Name + '', attr: { href: './directorDetails?id=' + Id }"></a> (<span data-bind="text: Id"></span>)</div>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Duration</th>
                <td class="col-md-10" data-bind="text: duration"></td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Rating</th>
                <td class="col-md-10">
                    <div data-bind="foreach: rating">
                        <div><i class=" fa fa-star-o"></i> <a data-bind="text: Code + '', attr: { href: './ratingDetails?id=' + Id }"></a> (<span data-bind="text: Id"></span>)</div>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Release Year</th>
                <td class="col-md-10" data-bind="text: releaseYear"></td>
            </tr>
            <tr class="row">
                <th class="col-md-2">Type</th>
                <td class="col-md-10">
                    <div data-bind="foreach: type">
                        <div><i class=" fa fa-address-book-o"></i> <a data-bind="text: Name + '', attr: { href: '#typeDetails?id=' + Id }"></a> (<span data-bind="text: Id"></span>)</div>
                    </div>
                </td>
            </tr>
        </table>
        <!-- /ko -->
    </div>
</section>