<section>
    <div class="container">
        <div class="border-bottom pt-4 pb-2 mb-3">
            <h2 data-bind="text:displayName"></h2>
        </div>
        <!-- ko if:records().length > 0 -->
        <div class="col-12 small">
            <div class="row">
                <p class="mr-auto pt-2">
                    <span class="a" data-bind="html: 'Page: ' + currentPage() + ' of ' + totalPages()"></span><br />
                    <span class="a" data-bind="html: 'Titles: '+ fromRecord() + '-' + toRecord() + ' of ' + totalRecords()"></span>
                </p>
                <div class="col-auto pt-2">
                    <ul class="pagination">
                        <!-- ko if: currentPage() > 5 && totalPages() > 10 -->
                        <li class="page-item"><a class="page-link" title="First Page" href="#Movies/1">⇤</a></li>
                        <li class="page-item"><a class="page-link" title="Previous Page" data-bind="attr: {href:'#Movies/' + previousPage(),  rel:'prev'}">←</a></li>
                        <!--<li class="page-item disabled"><a class="page-link">…</a></li>-->
                        <!-- /ko -->
                        <!-- ko foreach: pageArray()-->
                        <!-- ko if:$data == $parent.currentPage() -->
                        <li class="active page-item"><a class="page-link" data-bind="attr: {title:'Current Page '+$data }, text:$data"></a></li>
                        <!-- /ko -->
                        <!-- ko if:$data != $parent.currentPage() -->
                        <li class="page-item"><a class="page-link" data-bind="attr: {href:'#Movies/' + $data, title:'Goto Page '+$data }, text:$data"></a></li>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: currentPage() < totalPages() - 4 && totalPages() > 9 -->
                        <!--<li class="disabled page-item"><a class="page-link">…</a></li>-->
                        <li class="page-item"><a class="page-link" title="Next Page" data-bind="attr: {href:'#Movies/' + nextPage(), rel:'next' }">→</a></li>
                        <li class="page-item"><a class="page-link" title="Last Page" data-bind="attr: {href:'#Movies/' + totalPages() }">⇥</a></li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div class="clearfix"></div>


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col" class="text-right"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: records">
                <tr>
                    <td data-bind="text:Id"></td>
                    <td data-bind="text:Name"></td>
                    <td class="text-right">
                        <a class="btn  btn-sm" data-bind="attr: { href:'#MoviesDetails/'+Id }">
                    <i class="fa fa-eye" title="Selecione para ver detalhes"></i>
                    </a>
                    <button class="btn btn-sm">
                        <i class="fa fa-heart-o" data-bind="attr : { 'id': 'favourite_'+Id }" title="Selecione para adicionar aos favoritos"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>


<style>


</style>

</section>