<link rel="stylesheet" href="app/style/titles.css" />

<section>
    <div class="container">
        <div class="pt-4 pb-1 mb-3">
            <h2 data-bind="text:displayName"></h2>
        </div>

        <form class="form-inline my-2 my-lg-0 d-none d-lg-block search">
            <div class="form-group btn-group-sm bg-dark">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" data-bind="value: query">
                <button data-bind="click: getTitles" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>

        <hr class="border-bottom-muted" />

        <!-- ko if:records().length > 0 -->

        <!--<div class="clearfix"></div>-->

        <table class="table text-light">
            <thead class="thead">
                <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">Title</th>
                    <th class="d-none d-lg-block" scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col" class="text-right"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: records">
                <tr class="t-row">
                    <td class="imgTd">
                        <a data-bind="attr: { href:'#TitleDetails/'+Id }">
                            <img class="imagePoster" data-bind="attr: { src: $parent.getPoster(Name, TypeName), 'id': getTMDbSlug(Name) }" />
                        </a>
                    </td>
                    <td scope="row" class="">
                        <h4 data-bind="text: Name"></h4>
                        <span data-bind="text: ReleaseYear"></span>
                    </td>
                    <td class="d-none d-md-block" data-bind="text:Description" id="desc"></td>
                    <td data-bind="text:TypeName"></td>
                    <td class="text-right text-white">
                        <!--<a class="btn  btn-sm" data-bind="attr: { href:'#TitleDetails/'+Id }">
                        <i class="fa fa-eye" title="Selecione para ver detalhes"></i>
                    </a>
                    <button class="btn btn-sm">
                        <i class="fa fa-heart-o" data-bind="attr : { 'id': 'favourite_'+Id }" title="Selecione para adicionar aos favoritos"></i>
                    </button>-->
                        <a data-bind="attr: { href:'#TitleDetails/'+Id }" class="btn btn-link">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- /ko -->
        <!-- ko ifnot:records().length > 0 -->
        <!-- ko ifnot:first() -->
        <h3 data-bind="text:notFound()[0]"></h3>
        <!-- ko ifnot:error != '' -->
        <p>
            <span data-bind="text:notFound()[1]"></span>
            <br />
            <span data-bind="text:error"></span>
        </p>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->


    </div>
</section>