<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="images/netflixIcon.png" style="width:24px;" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto" data-bind="foreach: router.navigationModel">
                <li class="nav-item" data-bind="css: { active: isActive }">
                    <a class="nav-link" data-bind="attr: { href: hash }, text: title"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-host container" data-bind="router"></div>

<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body bg-dark text-light text-center">
                <h5 class="modal-title" id="loadingModalLabel">
                    <img src="./images/netflixIcon.png" height="30" /> Loading...
                </h5>
                <br />
                <i class="fa fa-spin fa-3x fa-refresh"></i>
            </div>
        </div>
    </div>
</div>

<footer class="navbar navbar-dark" role="navigation">
    <div class="container">
        <div class="navbar-text small">
            <h6 class="m-0">Browse Netflix UA</h6>
            Airton Moreira & Estevão Rolim
        </div>
        <div class="navbar-right navbar-text small d-none d-md-block text-right">
            <a href="http://www.ua.pt" target="_blank" title="Universidade de Aveiro">Universidade de Aveiro</a>
            <br />
            <a href="https://github.com/ETVO/BrowseNetflixUA" target="_blank" title="Repositório GitHub">BrowseNetflixUA</a>
        </div>
    </div>
</footer>
