<link rel="stylesheet" href="app/style/titles.css" />

<section>
    <div class="container">
        <div class="pt-4 pb-1 mb-3">
            <h2 data-bind="text:displayName"></h2>
            <hr class="border-bottom-muted" />
        </div>

        <!-- ko if:records().length > 0 -->

        <div data-bind="template: { name: 'pagination-template' }"></div>
        <!--<div class="clearfix"></div>-->


        <table class="table text-light">
            <thead class="thead">
                <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">Title</th>
                    <th class="d-none d-lg-block" scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col" class="text-right"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: records">
                <tr class="t-row">
                    <td class="imgTd">
                        <a data-bind="attr: { href:'#TitleDetails/'+Id }">
                        <img class="imagePoster" data-bind="attr: { src: $parent.getPoster(Name, TypeName), 'id': getTMDbSlug(Name) }" />
                        </a>
                    </td>
                    <td scope="row" class="">
                        <h4 data-bind="text: Name"></h4>
                        <span data-bind="text: ReleaseYear"></span>
                    </td>
                    <td class="d-none d-md-block" data-bind="text:Description" id="desc"></td>
                    <td data-bind="text:TypeName"></td>
                    <td class="text-right text-white">
                        <!--<a class="btn  btn-sm" data-bind="attr: { href:'#TitleDetails/'+Id }">
                        <i class="fa fa-eye" title="Selecione para ver detalhes"></i>
                    </a>
                    <button class="btn btn-sm">
                        <i class="fa fa-heart-o" data-bind="attr : { 'id': 'favourite_'+Id }" title="Selecione para adicionar aos favoritos"></i>
                    </button>-->
                        <a data-bind="attr: { href:'#TitleDetails/'+Id}" class="btn btn-link">
                            <i class="fa fa-info" aria-hidden="true"></i>
                            
                        </a>

                       
                        
                    </td>
                </tr>
            </tbody>
        </table>

        <div data-bind="template: { name: 'pagination-template' }"></div>
        <!-- /ko -->
        <!-- ko ifnot:records().length > 0 -->
        <h3 data-bind="text:notFound()[0]"></h3>
        <!-- ko ifnot:error != '' -->
        <p>
            <span data-bind="text:notFound()[1]"></span>
            <br />
            <span data-bind="text:error"></span>
        </p>
        <!-- /ko -->
        <!-- /ko -->


    </div>
</section>

<script type="text/html" id="pagination-template">
    <div class="col-12 pages bg-dark text-light">
        <div class="row">
            <p class="mr-auto pt-2 pages-stats">
                <span class="a" data-bind="html: 'Page: ' + currentPage() + ' of ' + totalPages()"></span><br />
                <span class="a" data-bind="html: 'Titles: '+ fromRecord() + '-' + toRecord() + ' of ' + totalRecords()"></span>
            </p>
            <div class="col-auto pt-2">
                <ul class="pagination">
                    <!-- ko if: currentPage() > 3 && totalPages() > 10 -->
                    <li class="page-item"><a class="page-link" title="First Page" href="#Titles/1">⇤</a></li>
                    <li class="page-item"><a class="page-link" title="Previous Page" data-bind="attr: {href:'#Titles/' + previousPage(),  rel:'prev'}">←</a></li>
                    <!--<li class="page-item disabled"><a class="page-link">…</a></li>-->
                    <!-- /ko -->
                    <!-- ko foreach: pageArray()-->
                    <!-- ko if:$data == $parent.currentPage() -->
                    <li class="active page-item"><a class="page-link" data-bind="attr: {title:'Current Page '+$data }, text:$data"></a></li>
                    <!-- /ko -->
                    <!-- ko if:$data != $parent.currentPage() -->
                    <li class="page-item"><a class="page-link" data-bind="attr: {href:'#Titles/' + $data, title:'Page '+$data }, text:$data"></a></li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: currentPage() < totalPages() - 4 && totalPages() > 9 -->
                    <!--<li class="page-item disabled"><a class="page-link">…</a></li>-->
                    <li class="page-item"><a class="page-link" title="Next Page" data-bind="attr: {href:'#Titles/' + nextPage(), rel:'next' }">→</a></li>
                    <li class="page-item"><a class="page-link" title="Last Page" data-bind="attr: {href:'#Titles/' + totalPages() }">⇥</a></li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</script>