<section>
    <div class="pt-4 pb-2 mb-3">
        <h2 class="text-center">Trending Right Now</h2>
        <hr class="border-bottom-muted" />
        <div id="carouselPopular" class="carousel slide w-100" data-ride="carousel" data-interval="3000" data-pause="false">
            <!--<ol class="carousel-indicators" data-bind="foreach: records">
            <li data-target="#carouselPopular" data-bind="attr: { 'data-slide-to': $index() }, style: { 'active': $index() == 0 }"></li>
        </ol>-->
            <div class="carousel-inner" data-bind="foreach: records">
                <!-- ko ifnot: backdrop_path == null -->
                <div class="carousel-item" data-bind="css: { 'active': $index() == 0 }">
                    <img class="d-block w-100" data-bind="attr: { src: api_img_url + backdrop_path, alt: original_title }" />
                    <div class="carousel-caption d-none d-md-block">
                        <img style="height: 400px" data-bind="attr: { src: api_img_url + poster_path, alt: original_title }" />
                        <hr class="border-bottom-muted" />
                        <h5 data-bind="text: original_title"></h5>
                        <p>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span data-bind="text: vote_average"></span> - <span data-bind="text: getDate(release_date)"></span>
                        </p>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <a class="carousel-control-prev" href="#carouselPopular" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselPopular" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
   

    <div class="p-3">
        <div class="bs-callout bs-callout-info bg-dark">
            <h2>BrowseNetflixUA</h2>

            <h3>What is Netflix?</h3>
            <p>
                Netflix, Inc. is an American over-the-top content platform and production company headquartered in Los Gatos, California. Netflix was founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California. The company's primary business is a subscription-based streaming service offering online streaming from a library of films and television series, including those produced in-house. As of October 2020, Netflix had over 195 million paid subscriptions worldwide, including 73 million in the United States. It is available worldwide except in the following: mainland China (due to local restrictions), Syria, North Korea, and Crimea (due to US sanctions). It was reported in 2020 that Netflix's operating income is $1.2 billion. The company has offices in France, the United Kingdom, Brazil, the Netherlands, India, Japan, and South Korea. Netflix is a member of the Motion Picture Association (MPA), producing and distributing content from countries all over the globe.
            </p>
            <a class="btn btn-outline-primary" href="https://help.netflix.com/en/node/412" target="_blank">Learn More</a>
        </div>
    </div>


</section>
